<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/DaniaAf" target="_blank"><i class="fab fa-github"></i></a>

    <a href="https://www.linkedin.com/in/dania-aflak/" target="_blank"><i class="fab fa-linkedin"></i></a>

  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Dania
  </div>
</div>
