.title h2 {
  text-align: center;
}

.avatar-form {
  min-height: 65vh;
  width: 35%;
  margin: 100px auto 30px auto;
}

.back {
  padding: 15px;
  font-size: 20px;
}
.back a:hover {
  text-decoration: none !important;

}
