.captain-card {
  margin-bottom: 20px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  background-color: #ededed;
}

a:hover {
  text-decoration: none !important;
}


.card {
  border: O !important;
  width: 100%;
  height: 82%;
  background-image: content;
}

.avatar-img {
  display: flex;
  justify-content: center;
}

.name-card {
  color: black;
}
